h2{
    background-color:rgb(85, 22, 85);
    text-align: center;
    color:white;
    padding: 0;
    
}
.hre{
    color: palevioletred;
}
   /* box-sizing: border-box;*/

nav{
    display:flex;
    justify-content: center;
    background-color:white;
   padding-top: 1px;
    height: 20px;
    padding:14px 16px;
    text-align: center;
}
ul:hover{
    color: plum;
    text-decoration: underline;
}
i{
    padding:14px 16px;
    margin-left: 20px;
}
.box{
    
    background-color:lightpink;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    
}
.box1{
    display: flex;
    align-items: center;
}

.box2{
    display: flex;
    align-items: center;
}

.box-slider{
    background-color: rgb(179, 139, 144);
}


button{
    color:white;
    background-color:rgb(85, 22, 85);
}
h3{
    text-align: center;
}
.btn{
    text-align: center;
    color:white;
}
img{
    margin:15px;
    padding:15px;
    height: 100%;
}

.abt{
    height:400px;
    width:auto;
   color:white;
 /*   background-image: url("unpl.avif");
    background-size:100%;  */
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
   margin-top: 30px;
    text-align: center;
    background-color:rgb(100, 67, 133);
    opacity: 0.8;
    height: 300px;
    top: 300px;
   /* padding-left: 10px;*/
    margin-right:500px;
   margin-left:500px;
    
}
/*.boxes{
    margin-top: 30px;
text-align: center;
background-color:rebeccapurple;
height: 200px;
padding-left: 10px;
margin-right: 500px;
margin-left:500px;

}*/
.boxes{
    background-image: url("unpl.avif");
        height:600px;
        width:auto;
        background-size:100%;  
        align-items: center;
        display: flex;
}
.bt{
    color:white;
    background-color: #D3B5E5;
    border-radius: 5px;
}



.con{
    display: flex;
    justify-content: space-evenly;
   padding-top: 40px;
   text-align: center;

   
}
.con i{
    color: lightpink;
    opacity:0.8;
}
.con span{
    font-weight: 600;
}
.dv1 p{
    margin-right: 10px;
    margin-left: 87px;
    margin-top: 10px;
}
.dv2 p{
    margin-right: 10px;
    margin-left: 87px;
    margin-top: 10px;
}
.dv3 p{
    margin-right: 10px;
    margin-left: 87px;
    margin-top: 10px;
}
.dv4 p{
    margin-right: 10px;
    margin-left: 87px;
    margin-top: 10px;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 600;
    border-bottom: 1px solid white;
    
}

.foot1 i{
    color: rgb(95, 32, 32);
}
.foot1 h1{
    font-weight: 200;
    margin-top: 20px;
padding-top: 40px;
margin-left: 40px;
opacity: 0.8;
}

.foot2 h3{
    font-weight: 200;
    margin-top: 20px;
padding-top: 40px;
margin-left: 40px;
opacity: 0.8;
}
.foot3 h3{
    font-weight: 200;
    margin-top: 20px;
padding-top: 40px;
margin-left: 40px;
opacity: 0.8;
}
.foot4 h3{
    font-weight: 200;
    margin-top: 20px;
padding-top: 40px;
margin-left: 40px;
opacity: 0.8;
}
.foot5 h3{
    font-weight: 200;
    margin-top: 20px;
  padding-top: 40px;
    margin-left: 40px;
    opacity: 0.8;
}
.foot5 i{
    color:rgb(95, 32, 32);
}
.foot5 textarea{
    border-radius: 8px;
    height: 130;
    width: 150px;
}
.foot5 button{
    border-radius: 5px;
    height: 130;
    width: 100px;
}
footer span{
    opacity: 0.9;
}
.foot5 i{
    padding: 2px;
    margin-top: 14px;
    
}
.last-footer{
    background-color: black;
    height: 100px;
    width: 150;
    margin: 0;
    padding: 0;
    color: white;
    
}